Repository ryo-morimoto/spotify-mcp: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, typecheck, test

lint:
  run: pnpm lint
  fail_text: Linting failed. Please fix the issues and try again.

format:
  run: pnpm format
  stage_fixed: true
  fail_text: Code formatting failed. Please check the issues and try again.

typecheck:
  run: pnpm typecheck
  fail_text: TypeScript compilation failed. Please fix type errors and try again.

test:
  run: pnpm test
  fail_text: Tests failed. Please fix failing tests and try again.

chore: update @vitest/coverage-v8 to match vitest version
  package.json
  pnpm-lock.yaml
Due: lint, format, typecheck, test

feat: implement get-playback-state tool
  src/constants.ts
  src/mcp/tools/player/getPlaybackState.test.ts
  src/mcp/tools/player/getPlaybackState.ts
Due: lint, format, typecheck, test

feat: implement get-available-devices tool
  src/mcp/tools/player/getAvailableDevices.test.ts
  src/mcp/tools/player/getAvailableDevices.ts
Due: lint, format, typecheck, test

feat: implement get-currently-playing-track tool
  src/mcp/tools/player/getCurrentlyPlayingTrack.test.ts
  src/mcp/tools/player/getCurrentlyPlayingTrack.ts
Due: lint, format, typecheck, test

feat: implement start-resume-playback tool
  src/mcp/tools/player/startResumePlayback.test.ts
  src/mcp/tools/player/startResumePlayback.ts
Due: lint, format, typecheck, test

feat: implement pause-playback tool
  src/mcp/tools/player/pausePlayback.test.ts
  src/mcp/tools/player/pausePlayback.ts
Due: lint, format, typecheck, test

feat: implement skip-to-next tool
  src/mcp.ts
  src/mcp/tools/player/skipToNext.test.ts
  src/mcp/tools/player/skipToNext.ts
Due: lint, format, typecheck, test

feat: implement skip-to-previous tool
  src/mcp.ts
  src/mcp/tools/player/skipToPrevious.test.ts
  src/mcp/tools/player/skipToPrevious.ts
Due: lint, format, typecheck, test

feat: implement seek-to-position tool
  src/mcp.ts
  src/mcp/tools/player/seekToPosition.test.ts
  src/mcp/tools/player/seekToPosition.ts
Due: lint, format, typecheck, test

feat: implement set-repeat-mode tool
  src/mcp.ts
  src/mcp/tools/player/setRepeatMode.test.ts
  src/mcp/tools/player/setRepeatMode.ts
Due: lint, format, typecheck, test

feat: implement set-playback-volume tool
  src/mcp.ts
  src/mcp/tools/player/setPlaybackVolume.test.ts
  src/mcp/tools/player/setPlaybackVolume.ts
Due: lint, format, typecheck, test

feat: implement toggle-playback-shuffle tool
  src/mcp.ts
  src/mcp/tools/player/togglePlaybackShuffle.test.ts
  src/mcp/tools/player/togglePlaybackShuffle.ts
Due: lint, format, typecheck, test

feat: implement transfer-playback tool
  src/mcp.ts
  src/mcp/tools/player/transferPlayback.test.ts
  src/mcp/tools/player/transferPlayback.ts
Due: lint, format, typecheck, test

feat: implement get-recently-played-tracks tool
  src/mcp.ts
  src/mcp/tools/player/getRecentlyPlayedTracks.test.ts
  src/mcp/tools/player/getRecentlyPlayedTracks.ts
Due: lint, format, typecheck, test

feat: implement get-user-queue tool
  src/mcp.ts
  src/mcp/tools/player/getUserQueue.test.ts
  src/mcp/tools/player/getUserQueue.ts
Due: lint, format, typecheck, test

feat: implement add-item-to-playback-queue tool
  src/mcp.ts
  src/mcp/tools/player/addItemToPlaybackQueue.test.ts
  src/mcp/tools/player/addItemToPlaybackQueue.ts
Due: lint, format, typecheck, test

feat: implement create-playlist tool
  src/mcp.ts
  src/mcp/tools/playlists/create.test.ts
  src/mcp/tools/playlists/create.ts
Due: lint, format, typecheck, test

feat: implement get-current-user-playlists tool
  src/mcp.ts
  src/mcp/tools/playlists/addItems.test.ts
  src/mcp/tools/playlists/addItems.ts
  src/mcp/tools/playlists/changeDetails.test.ts
  src/mcp/tools/playlists/changeDetails.ts
  src/mcp/tools/playlists/getCurrentUser.test.ts
  src/mcp/tools/playlists/getCurrentUser.ts
  src/mcp/tools/playlists/removeItems.test.ts
  src/mcp/tools/playlists/removeItems.ts
  src/mcp/tools/playlists/updateItems.test.ts
  src/mcp/tools/playlists/updateItems.ts
Due: lint, format, typecheck, test

feat: implement get-user-playlists tool
  src/mcp.ts
  src/mcp/tools/playlists/getUser.test.ts
  src/mcp/tools/playlists/getUser.ts
Due: lint, format, typecheck, test

feat: implement get-featured-playlists tool
  src/mcp.ts
  src/mcp/tools/playlists/getFeatured.test.ts
  src/mcp/tools/playlists/getFeatured.ts
Due: lint, format, typecheck, test

feat: implement get-category-playlists tool
  src/mcp.ts
  src/mcp/tools/playlists/getCategory.test.ts
  src/mcp/tools/playlists/getCategory.ts
Due: lint, format, typecheck, test

feat: implement get-playlist-cover-image tool
  src/mcp.ts
  src/mcp/tools/playlists/getCoverImage.test.ts
  src/mcp/tools/playlists/getCoverImage.ts
Due: lint, format, typecheck, test

feat: implement add-custom-playlist-cover-image tool
  src/mcp.ts
  src/mcp/tools/playlists/addCoverImage.test.ts
  src/mcp/tools/playlists/addCoverImage.ts
Due: lint, format, typecheck, test

chore: remove json reporter from test commands
  package.json
Due: lint, format, typecheck, test

fix: remove deprecated audio features tools
  src/mcp.ts
  src/mcp/tools/tracks/getAudioFeatures.test.ts
  src/mcp/tools/tracks/getAudioFeatures.ts
  src/mcp/tools/tracks/getSeveralAudioFeatures.test.ts
  src/mcp/tools/tracks/getSeveralAudioFeatures.ts
Due: lint, format, typecheck, test

fix: add missing Spotify API scopes for playlist operations
  src/constants.ts
Due: lint, format, typecheck

fix: handle undefined response from SDK playlist methods
  src/mcp/tools/playlists/addItems.test.ts
  src/mcp/tools/playlists/addItems.ts
  src/mcp/tools/playlists/removeItems.test.ts
  src/mcp/tools/playlists/removeItems.ts
Due: lint, format, typecheck, test

build: enable observability logs in wrangler.toml
  wrangler.toml
Due: none

test: update playlist operation tests to handle undefined responses
  src/mcp/tools/playlists/addItems.test.ts
  src/mcp/tools/playlists/removeItems.test.ts
Due: lint, format, typecheck, test

ci: migrate deployment to Cloudflare GitHub integration
  .github/workflows/deploy.yaml
Due: format

chore: remove unused Claude Code settings file
  .claude/settings.json
Due: format

chore: revert to default vitest reporter
  package.json
Due: lint, format, typecheck, test

chore: remove unused taskmaster tool
  .taskmaster/config.json
  .taskmaster/reports/task-complexity-report.json
  .taskmaster/state.json
  .taskmaster/tasks/tasks.json
  .taskmaster/templates/example_prd.txt
Due: format

docs: remove outdated documentation files
  docs/SOW-spotify-mcp-tools.md
  docs/testing-conventions.md
Due: format

docs: rename ADR files to use 3-digit numbering format
  docs/adr/001-spotify-api-type-definitions-selection.md
  docs/adr/002-mcp-server-spotify-client-separation-of-concerns.md
  docs/adr/003-oauth-2.0-compliance.md
Due: format

docs: add ADR-004 for tool-only design decision
  docs/adr/004-tool-only-design-decision.md
Due: format

build: enable Workers Logs observability in wrangler.toml
  wrangler.toml
Due: none

docs: update README with complete tool list and installation instructions
  README.md
Due: format

Path conditions:
  lint: any of: *.ts, src/**/*.ts, package.json, .oxlintrc.json
  format: any of: *.{ts,js,json,md,yml,yaml}, src/**/*.{ts,js,json}, .github/**/*.{yml,yaml}
  typecheck: any of: *.ts, src/**/*.ts, package.json, tsconfig.json
  test: any of: src/**/*.ts, src/**/*.test.ts, package.json, vitest.config.ts
