Repository ryo-morimoto/spotify-mcp: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, typecheck, test

lint:
  run: pnpm lint
  fail_text: Linting failed. Please fix the issues and try again.

format:
  run: pnpm format
  stage_fixed: true
  fail_text: Code formatting failed. Please check the issues and try again.

typecheck:
  run: pnpm typecheck
  fail_text: TypeScript compilation failed. Please fix type errors and try again.

test:
  run: pnpm test
  fail_text: Tests failed. Please fix failing tests and try again.

test: update playlist tests for new paginated response structure
  src/mcp/tools/playlists/getCategory.test.ts
  src/mcp/tools/playlists/getCurrentUser.test.ts
  src/mcp/tools/playlists/getFeatured.test.ts
  src/mcp/tools/playlists/getUser.test.ts
Due: lint, format, typecheck, test

refactor: consolidate Spotify resource types in centralized location
  src/mcp/tools/albums/getSaved.ts
  src/mcp/tools/artists/getTopTracks.ts
  src/mcp/tools/player/setRepeatMode.ts
  src/mcp/tools/playlists/getCategory.ts
  src/mcp/tools/playlists/getCoverImage.ts
  src/mcp/tools/playlists/getCurrentUser.ts
  src/mcp/tools/playlists/getFeatured.ts
  src/mcp/tools/playlists/getItems.ts
  src/mcp/tools/playlists/getUser.ts
  src/mcp/tools/users/getSavedTracks.ts
  src/types.ts
Due: lint, format, typecheck, test

refactor: further consolidate types and use centralized type aliases
  src/mcp/tools/playlists/addCoverImage.ts
  src/mcp/tools/playlists/addItems.ts
  src/mcp/tools/playlists/getCategory.ts
  src/mcp/tools/playlists/getCoverImage.ts
  src/mcp/tools/playlists/getCurrentUser.ts
  src/mcp/tools/playlists/getFeatured.ts
  src/mcp/tools/playlists/getUser.ts
  src/mcp/tools/playlists/removeItems.ts
  src/mcp/tools/playlists/updateItems.ts
  src/types.ts
Due: lint, format, typecheck, test

feat: convert search tools to use EmbeddedResource format
  src/mcp/tools/helpers/resourceHelpers.test.ts
  src/mcp/tools/helpers/resourceHelpers.ts
  src/mcp/tools/search/albums.test.ts
  src/mcp/tools/search/albums.ts
  src/mcp/tools/search/artists.test.ts
  src/mcp/tools/search/artists.ts
  src/mcp/tools/search/audiobooks.test.ts
  src/mcp/tools/search/audiobooks.ts
  src/mcp/tools/search/episodes.test.ts
  src/mcp/tools/search/episodes.ts
  src/mcp/tools/search/playlists.test.ts
  src/mcp/tools/search/playlists.ts
  src/mcp/tools/search/shows.test.ts
  src/mcp/tools/search/shows.ts
  src/mcp/tools/search/tracks.test.ts
  src/mcp/tools/search/tracks.ts
  src/mcp/tools/tracks/get.test.ts
  src/mcp/tools/tracks/get.ts
  test/integration/searchTracks.test.ts
Due: lint, format, typecheck, test

refactor: simplify MCP server tool registration with helper functions
  src/mcp.ts
Due: lint, format, typecheck

archived:'-(
  README.md
Due: format

archived:'-( (#6)
  README.md
Due: format

Path conditions:
  lint: any of: *.ts, src/**/*.ts, package.json, .oxlintrc.json
  format: any of: *.{ts,js,json,md,yml,yaml}, src/**/*.{ts,js,json}, .github/**/*.{yml,yaml}
  typecheck: any of: *.ts, src/**/*.ts, package.json, tsconfig.json
  test: any of: src/**/*.ts, src/**/*.test.ts, package.json, vitest.config.ts
