Repository ryo-morimoto/spotify-mcp: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, typecheck, test

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    lint:
      glob:
        - '*.ts'
        - 'src/**/*.ts'
        - 'package.json'
        - '.oxlintrc.json'
      run: pnpm lint
      fail_text: 'Linting failed. Please fix the issues and try again.'

    format:
      glob:
        - '*.{ts,js,json,md,yml,yaml}'
        - 'src/**/*.{ts,js,json}'
        - '.github/**/*.{yml,yaml}'
      run: pnpm format
      stage_fixed: true
      fail_text: 'Code formatting failed. Please check the issues and try again.'

    typecheck:
      glob:
        - '*.ts'
        - 'src/**/*.ts'
        - 'package.json'
        - 'tsconfig.json'
      run: pnpm typecheck
      fail_text: 'TypeScript compilation failed. Please fix type errors and try again.'

    test:
      glob:
        - 'src/**/*.ts'
        - 'src/**/*.test.ts'
        - 'package.json'
        - 'vitest.config.ts'
      run: pnpm test
      fail_text: 'Tests failed. Please fix failing tests and try again.'

pre-push:
  commands:
    check:
      run: pnpm check
      fail_text: 'Checks failed. Please fix all issues before pushing.'

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit
      fail_text: 'Commit message must follow Conventional Commits format. Example: feat: add new feature'

feat(oauth): implement OAuth 2.0 compliant authentication system
  src/authHandler.ts
  src/index.ts
  src/oauth/clientRegistry.ts
  src/oauth/types.ts
  src/types.ts
Due: lint, format, typecheck, test

refactor: extract Spotify scopes to constants module
  src/constants.ts
Due: lint, format, typecheck

chore: update project configuration for multi-environment deployment
  .dev.vars.example
  wrangler.toml
Due: none

docs: add OAuth ADR and deployment documentation
  README.md
  docs/adr/0002-oauth-2.0-compliance.md
  docs/deployment.md
Due: format

chore: remove unnecessary files following YAGNI principle
  .claude/settings.json
  docs/mcp-oauth-integration.md
  draft.md
  test/integration/mcpAuth.test.ts
Due: lint, format, typecheck

test: simplify overly complex tests following KISS/YAGNI principles
  docs/testing-conventions.md
  src/authHandler.test.ts
  src/exampleResult.test.ts
  src/exampleResult.ts
  src/index.test.ts
  src/mcp/tools/searchTracks.test.ts
  src/oauth.test.ts
  src/oauth/clientRegistry.test.ts
  src/spotify.test.ts
  test/fixtures/clients.ts
  test/fixtures/tokens.ts
  test/helpers/README.md
  test/helpers/assertions.ts
  test/helpers/mockBindings.example.test.ts
  test/helpers/mockBindings.test.ts
  test/helpers/mockBindings.ts
  test/helpers/mockKV.ts
  vitest.config.ts
Due: lint, format, typecheck, test

test: add integration tests with minimal mocking
  test/integration/app.test.ts
  test/integration/oauth-flow.test.ts
Due: lint, format, typecheck

feat: add search-albums tool
  docs/SOW-spotify-mcp-tools.md
  src/mcp.ts
  src/mcp/tools/searchAlbums.test.ts
  src/mcp/tools/searchAlbums.ts
  src/types.ts
Due: lint, format, typecheck, test

feat: add search-artists tool
  src/mcp.ts
  src/mcp/tools/searchArtists.test.ts
  src/mcp/tools/searchArtists.ts
Due: lint, format, typecheck, test

feat: implement search-playlists tool with TDD approach
  src/mcp.ts
  src/mcp/tools/searchPlaylists.test.ts
  src/mcp/tools/searchPlaylists.ts
Due: lint, format, typecheck, test

feat: add search-shows tool
  src/mcp.ts
  src/mcp/tools/searchShows.test.ts
  src/mcp/tools/searchShows.ts
Due: lint, format, typecheck, test

feat: implement search-episodes tool for podcast episode search
  src/mcp.ts
  src/mcp/tools/searchEpisodes.test.ts
  src/mcp/tools/searchEpisodes.ts
Due: lint, format, typecheck, test

feat: implement search-audiobooks tool
  src/mcp.ts
  src/mcp/tools/searchAudiobooks.test.ts
  src/mcp/tools/searchAudiobooks.ts
Due: lint, format, typecheck, test

feat: implement get-track tool
  src/mcp.ts
  src/mcp/tools/getTrack.test.ts
  src/mcp/tools/getTrack.ts
  src/mcp/tools/getTrackTool.ts
Due: lint, format, typecheck, test

feat: implement get-album tool for retrieving single album by ID
  src/mcp.ts
  src/mcp/tools/getAlbum.test.ts
  src/mcp/tools/getAlbum.ts
  src/mcp/tools/getAlbumTool.ts
Due: lint, format, typecheck, test

feat: implement get-artist tool for retrieving single artist by ID
  src/mcp.ts
  src/mcp/tools/getArtist.test.ts
  src/mcp/tools/getArtist.ts
  src/mcp/tools/getArtistTool.ts
Due: lint, format, typecheck, test

feat: add get-playlist tool to retrieve single playlist by ID
  src/mcp.ts
  src/mcp/tools/getPlaylist.test.ts
  src/mcp/tools/getPlaylist.ts
  src/mcp/tools/getPlaylistTool.test.ts
  src/mcp/tools/getPlaylistTool.ts
Due: lint, format, typecheck, test

feat: add get-album-tracks tool
  src/mcp.ts
  src/mcp/tools/getAlbumTracks.test.ts
  src/mcp/tools/getAlbumTracks.ts
  src/mcp/tools/getAlbumTracksTool.ts
Due: lint, format, typecheck, test

feat: implement get-artist-albums tool
  src/mcp.ts
  src/mcp/tools/getArtistAlbums.test.ts
  src/mcp/tools/getArtistAlbums.ts
  src/mcp/tools/getArtistAlbumsTool.ts
Due: lint, format, typecheck, test

feat: implement get-several-albums tool
  src/mcp.ts
  src/mcp/tools/getSeveralAlbums.test.ts
  src/mcp/tools/getSeveralAlbums.ts
  src/mcp/tools/getSeveralAlbumsTool.test.ts
  src/mcp/tools/getSeveralAlbumsTool.ts
Due: lint, format, typecheck, test

feat: implement get-artist-top-tracks tool
  src/mcp/tools/getArtistTopTracks.test.ts
  src/mcp/tools/getArtistTopTracks.ts
  src/mcp/tools/getArtistTopTracksTool.test.ts
  src/mcp/tools/getArtistTopTracksTool.ts
Due: lint, format, typecheck, test

feat: implement get-several-tracks tool
  src/mcp.ts
  src/mcp/tools/getSeveralTracks.test.ts
  src/mcp/tools/getSeveralTracks.ts
  src/mcp/tools/getSeveralTracksTool.test.ts
  src/mcp/tools/getSeveralTracksTool.ts
Due: lint, format, typecheck, test

refactor: unify tool file structure
  src/mcp.ts
  src/mcp/tools/getAlbum.ts
  src/mcp/tools/getAlbumTool.ts
  src/mcp/tools/getAlbumTracks.ts
  src/mcp/tools/getAlbumTracksTool.ts
  src/mcp/tools/getArtist.test.ts
  src/mcp/tools/getArtist.ts
  src/mcp/tools/getArtistAlbums.ts
  src/mcp/tools/getArtistAlbumsTool.ts
  src/mcp/tools/getArtistTool.ts
  src/mcp/tools/getArtistTopTracks.test.ts
  src/mcp/tools/getArtistTopTracks.ts
  src/mcp/tools/getArtistTopTracksTool.test.ts
  src/mcp/tools/getArtistTopTracksTool.ts
  src/mcp/tools/getPlaylist.test.ts
  src/mcp/tools/getPlaylist.ts
  src/mcp/tools/getPlaylistTool.test.ts
  src/mcp/tools/getPlaylistTool.ts
  src/mcp/tools/getSeveralAlbums.test.ts
  src/mcp/tools/getSeveralAlbums.ts
  src/mcp/tools/getSeveralAlbumsTool.test.ts
  src/mcp/tools/getSeveralAlbumsTool.ts
  src/mcp/tools/getSeveralTracks.test.ts
  src/mcp/tools/getSeveralTracks.ts
  src/mcp/tools/getSeveralTracksTool.test.ts
  src/mcp/tools/getSeveralTracksTool.ts
  src/mcp/tools/getTrack.ts
  src/mcp/tools/getTrackTool.ts
Due: lint, format, typecheck, test

feat: implement get-saved-tracks tool
  src/constants.ts
  src/mcp.ts
  src/mcp/tools/users/getSavedTracks.test.ts
  src/mcp/tools/users/getSavedTracks.ts
Due: lint, format, typecheck, test

feat: implement removeSavedTracks tool
  src/removeSavedTracks.test.ts
  src/removeSavedTracks.ts
Due: lint, format, typecheck

feat: implement save, remove, and check saved tracks tools
  src/mcp.ts
  src/mcp/tools/users/checkSavedTracks.test.ts
  src/mcp/tools/users/checkSavedTracks.ts
  src/mcp/tools/users/removeSavedTracks.test.ts
  src/mcp/tools/users/removeSavedTracks.ts
  src/mcp/tools/users/saveTracks.test.ts
  src/mcp/tools/users/saveTracks.ts
  src/removeSavedTracks.test.ts
Due: lint, format, typecheck, test

feat: add predefined OAuth client for Claude.ai
  src/index.ts
  src/oauth/predefinedClients.ts
Due: lint, format, typecheck, test

feat: implement get-saved-albums tool
  src/mcp.ts
  src/mcp/tools/albums/getSaved.test.ts
  src/mcp/tools/albums/getSaved.ts
Due: lint, format, typecheck, test

ci: add automatic deployment workflow for Cloudflare Workers
  .github/workflows/ci.yaml
  .github/workflows/deploy.yaml
Due: format

feat: implement save-albums tool
  src/mcp.ts
  src/mcp/tools/albums/save.test.ts
  src/mcp/tools/albums/save.ts
Due: lint, format, typecheck, test

feat: implement remove-saved-albums tool
  src/mcp.ts
  src/mcp/tools/albums/remove.test.ts
  src/mcp/tools/albums/remove.ts
Due: lint, format, typecheck, test

feat: implement check-saved-albums tool
  src/mcp.ts
  src/mcp/tools/albums/check.test.ts
  src/mcp/tools/albums/check.ts
Due: lint, format, typecheck, test

feat: implement get-several-artists tool
  src/mcp.ts
  src/mcp/tools/artists/getSeveral.test.ts
  src/mcp/tools/artists/getSeveral.ts
Due: lint, format, typecheck, test

feat: implement get-related-artists tool
  src/mcp.ts
  src/mcp/tools/artists/getRelated.test.ts
  src/mcp/tools/artists/getRelated.ts
Due: lint, format, typecheck, test

feat: implement get-track-audio-features tool
  src/mcp.ts
  src/mcp/tools/tracks/getAudioFeatures.test.ts
  src/mcp/tools/tracks/getAudioFeatures.ts
Due: lint, format, typecheck, test

feat: implement get-several-tracks-audio-features tool
  src/mcp.ts
  src/mcp/tools/tracks/getSeveralAudioFeatures.test.ts
  src/mcp/tools/tracks/getSeveralAudioFeatures.ts
Due: lint, format, typecheck, test

feat: implement get-track-audio-analysis tool
  src/mcp.ts
  src/mcp/tools/tracks/getAudioAnalysis.test.ts
  src/mcp/tools/tracks/getAudioAnalysis.ts
Due: lint, format, typecheck, test

chore: remove unused duplicate removeSavedTracks.ts file
  src/removeSavedTracks.ts
Due: lint, format, typecheck
